<h1>Este es el nuevo componente nuevo - inicio</h1>
<!-- <app-persona></app-persona> -->
<!-- <app-imagenes></app-imagenes> -->
<!-- <button (click ="cambioRuta()")>Boton on click</button>
<button routerLink="/persona">Mostrar 2</button>
<a routerLink="/inicio">Inicio</a>
<button click="abrirModal()">este es el modal</button> -->
<!-- <a href="persona">
  <button (click ="")>Mortrar Personas</button> </a> -->
<button class="btn btn-primary" (click)="abrirModal()">
  <i class="fa-solid fa-plus"></i>
  Este es el boton del modal
</button>
<!-- @if ( mostratTitulo){
<h2>Tabla de personas pro</h2>
} -->
<!--Asi se hacia antes-->
<h2>Tabla personas</h2>
<!-- <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Ciudad</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody> -->
<!--       <tr>
        <td>Maria</td>
        <td>15</td>
        <td>Bogota</td>
        <td>2020</td>
      </tr>
      <tr>
        <td>Luis</td>
        <td>15</td>
        <td>Medallo</td>
        <td>2022</td>
      </tr> -->
<!--ahora se hace asi-->
<!-- @for(persona of personas; track $index){
    <tr>
      <td>
        {{ persona.nombre }}
      </td>
      <td>
        {{ persona.edad }}
      </td>
      <td>
        {{ persona.documento }}
      </td>
      <td>
        {{ persona.ciudad }}
      </td>
    </tr>
    }
  </tbody>
</table>
<p></p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur hic
  voluptates quo, adipisci quidem ratione aspernatur labore est repellat ea
  nostrum omnis ipsam similique blanditiis totam porro, vitae assumenda
  dignissimos.
</p>
<h1>{{nombreVideo}}</h1>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/pZMjBJHsg7I?si=FQ-DRYb5vI1CMwHt"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe> -->

<!-- <a routerLink=https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1-930x523.jpg > -->
