<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--</!-><app-inicio></app-inicio>-->
<!--<h1>Iniciando mi aplicacion</h1>-->
<!-- <app-inicio></app-inicio> -->
<!-- <p>texto de la aplicacion</p>
<span class="text"> verificar si el css sirve</span>
<span>mi nombre es: {{nombre}}</span>
<span>mi edad es: {{edad}}</span>
<p></p>
<table></table> -->
<!-- <app-name-list></app-name-list> -->
<app-header></app-header>
<router-outlet />
